<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- The FILE and ASYNC appenders are here as examples for a production configuration /home/ubuntu/apps/deploy/logs -->
	<property name="log.folder" value="/home/ubuntu/apps/deploy/logs" />
	<property name="log.history" value="30" />
	<property name="log.pattern" value="%d %-5level [%thread] %logger{0}: %msg%n" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.folder}/service-cms.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>${log.history}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>${log.pattern}</pattern> -->
			<pattern>%date{yyyy-MM-dd HH:mm:ss,IST} %level [%thread] %logger{10}
				[%file:%line] %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>

	<appender name="FILE-UPLOAD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.folder}/upload-cms.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>${log.history}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>${log.pattern}</pattern> -->
			<pattern>%date{yyyy-MM-dd HH:mm:ss,IST} %level [%thread] %logger{10}
				[%file:%line] %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>
	
	<appender name="FILE-SEQ" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.folder}/cms-sequences.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>${log.history}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>${log.pattern}</pattern> -->
			<pattern>%date{yyyy-MM-dd HH:mm:ss,IST} %level [%thread] %logger{10}
				[%file:%line] %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>
	
	<appender name="FILE-SO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.folder}/cms-so-.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>${log.history}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!-- <pattern>${log.pattern}</pattern> -->
			<pattern>%date{yyyy-MM-dd HH:mm:ss,IST} %level [%thread] %logger{10}
				[%file:%line] %msg%n</pattern>
		</encoder>
		<prudent>true</prudent>
	</appender>
	
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE" />
	</appender>
	
	<appender name="ASYNC-import" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE-UPLOAD" />
	</appender>
	
	<appender name="ASYNC-SEQ" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE-SEQ" />
	</appender>

	<appender name="ASYNC-SO" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="FILE-SEQ" />
	</appender>
	
	<logger name="com.wdsi.microservice.cntms" level="#logback.loglevel#" />
	<logger name="io.github.jhipster" level="DEBUG" />
	<logger name="javax.activation" level="WARN" />
	<logger name="javax.mail" level="WARN" />
	<logger name="javax.xml.bind" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="com.codahale.metrics" level="WARN" />
	<logger name="com.netflix" level="WARN" />
	<logger name="com.netflix.discovery" level="INFO" />
	<logger name="com.ryantenney" level="WARN" />
	<logger name="com.sun" level="WARN" />
	<logger name="com.zaxxer" level="WARN" />
	<logger name="io.undertow" level="WARN" />
	<logger name="io.undertow.websockets.jsr" level="ERROR" />
	<logger name="org.ehcache" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.apache.catalina.startup.DigesterFactory" 	level="OFF" />
	<logger name="org.bson" level="WARN" />
	<logger name="org.elasticsearch" level="WARN" />
	<logger name="org.hibernate.validator" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.ejb.HibernatePersistence" level="OFF" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.web" level="WARN" />
	<logger name="org.springframework.security" level="WARN" />
	<logger name="org.springframework.cache" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	<logger name="org.xnio" level="WARN" />
	<logger name="springfox" level="WARN" />
	<logger name="sun.rmi" level="WARN" />
	<logger name="sun.net.www" level="INFO" />
	<logger name="sun.rmi.transport" level="WARN" />
	
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<root level="#logback.loglevel#">
		<appender-ref ref="FILE" /> 
	</root>
	
	<logger name="uploadFileLog" level="DEBUG" additivity="false">
    	<appender-ref ref="FILE-UPLOAD"/>
	</logger>
	
	<logger name="sequenceFileLog" level="DEBUG" additivity="false">
    	<appender-ref ref="ASYNC-SEQ"/>
	</logger>

	<logger name="soUploadFileLog" level="DEBUG" additivity="false">
    	<appender-ref ref="ASYNC-SO"/>
	</logger>
	
</configuration>
